:host {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

app-header {
  position: sticky; /* Cambia fixed por sticky */
  top: 0;
  z-index: 1000;
  grid-row: 1;
}

.content-wrapper {
  grid-row: 2;
  z-index: 1;
}

/* Fuerza al router-outlet a mostrarse debajo */
router-outlet + * {
  position: relative;
  z-index: 10;
}

/* Contenedor principal que empuja el footer hacia abajo */
.content-wrapper {
  flex: 1;
  padding-top: calc(70px + 6vw); /* Mínimo 100px + 5% del ancho de pantalla */
  position: relative;
  z-index: 1;
}

app-footer {
  position: relative;
  z-index: 1000;
  width: 100%;
}